<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <form action="{{ path('conference_search') }}" method="post">
        <input type="text" placeholder="Rechercher par titre" name="titleSearch" />
        <input type="submit" value="Envoyer"/>
    </form>

    <p>
        <a href="{{ path('home') }}">Accueil</a>
    </p>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p><a href="{{ path('logout') }}">Se déconnecter</a></p>
    {% else %}
        <p>
            <a href="{{ path('login') }}">Se connecter</a>/<a href="{{ path('register') }}">S'inscrire</a>
        </p>
    {% endif %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script>
                $(document).ready( function () {
                    $('#conferenceTable').DataTable();
                } );
            </script>
        {% endblock %}
    </body>
</html>
