<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<form action="{{ path('conference_search') }}" method="post">
    <input type="text" placeholder="Rechercher par titre" name="titleSearch" />
    <input type="submit" value="Envoyer"/>
</form>

<p>
    <a href="{{ path('home') }}">Home</a>
</p>
{% if is_granted('ROLE_ADMIN') %}
    <p><a href="{{ path('conference_best') }}">Top 10</a></p>
    <p><a href="{{ path('conference_index') }}">All Conferences</a></p>
    <p><a href="{{ path('user_index') }}">All Users</a></p>
{% endif %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p><a href="{{ path('logout') }}">Log out</a></p>
    <p><a href="{{ path('voted_conferences') }}">Voted/unvoted conferences</a></p>
    <p><a href="{{ path('conference_create') }}">Create a Conference</a></p>
{% else %}
    <p>
        <a href="{{ path('login') }}">Log in</a>/<a href="{{ path('register') }}">Register</a>
    </p>
{% endif %}

{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{% endblock %}
</body>
</html>
