{% extends 'base.html.twig' %}

{% block title %}Conference index{% endblock %}

{% block body %}
    <h1>Conference index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conference in conferences %}
            <tr>
                <td>{{ conference.title }}</td>
                <td>{{ conference.description }}</td>
                <td>
                    {{ averageRatings[conference.id] }}
                </td>
                <td>
                    <a href="{{ path('conference_show', {'id': conference.id}) }}">show</a>
                    <a href="{{ path('conference_edit', {'id': conference.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-info" href="{{ path('conference_index') }}">Create new</a>
{% endblock %}
