{% extends 'base.html.twig' %}

{% block title %}Conference index{% endblock %}

{% block body %}
    <h1>Conference index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conference in conferences %}
            <tr>
                <td>{{ conference.id }}</td>
                <td>{{ conference.title }}</td>
                <td>{{ conference.description }}</td>
                <td>{{ conference.date ? conference.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('conference_show', {'id': conference.id}) }}">show</a>
                    <a href="{{ path('conference_edit', {'id': conference.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('conference_new') }}">Create new</a>
{% endblock %}
